<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portalbee.id</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!--ion icons -->
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <!-- Favicons -->
  <link href="assets/img/portalbee-kecil.png" rel="icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.0.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <header id="header" class="header d-flex align-items-center" style="background-color: #25316D;">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <nav class="navbar">
        <a class="navbar-brand" href="#">
          <img src="assets/img/LOGO_PORTALBEE kirim (3).png" width="255" height="100" alt="Portalbee">
        </a>
      </nav>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li class="dropdown"><a href="#section1">About Us</a>
            <ul class="sub-menu">
              <li><a href="#about">Apa itu Portalbee?</a></li>
              <li><a href="#about">Product & Services</a></li>
              <li><a href="#FAQ">FAQ</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="courses.html">Courses</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="#search">Search</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>Portalbee</span></h2>
          <p>Lewati gerbang ini dan terbangkan usahamu setinggi angkasa!</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started" style= "background-color: #25316D;" >Mulai menjelajah</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about" style="padding-top: 100px ;">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Apa itu portalbee?</h2>
          <p>Portalbee adalah sebuat platform penyedia layanan link management dan edukasi bisnis bagu para pelaku usaha UMKM. Kami menyebut diri kami sebagai "Market Gate". Apa itu Market Gate? Market Gate adalah platform digital terintegrasi
            yang menyediakan layanan edukasi dan solusi digital dengan dukungan komunitas
            yang dikhususkan untuk membantu para pemuda dalam merintis usaha mulai dari
            awal dan berkolaborasi dengan perguruan tinggi di Indonesia.</p>
        </div>
        <div class="section-header" style="margin-top: 60px;">
          <h2>Product and Service</h2>
          <div class="row gy-4">
            <div class="col-lg-6">
              <h3>Link Management</h3>
              <img src="assets/img/BrandNew/jaringan-internet.jpg" style="height: 390px;" class="img-fluid rounded-4 mb-4" alt="">
              <p style="text-align: justify;">Link Management dapat membantu Pelaku Usaha untuk membuat link pembelian / link informasi agar dapat dicantumkan di media sosial, selain itu link management ini juga dapat membantu Membantu Masyarakat untuk mencari Startup, Bisnis Mahasiswa, atau UMKM yang relevan (baik yang menawarkan produk barang ataupun jasa). Kami menyediakan fitur cut URL yang membuat alamat url yang panjang dapat diakses secara lebih ringkas dan mudah dihafal. Membantu Pelaku Usaha untuk membuka dan membalas pesan pelanggan di berbagai chanel digital yang dimiliki hanya dengan menggunakan satu platform (Portalbee).
              </p>
            </div>
            <div class="col-lg-6">
              <div class="content ps-0 ps-lg-5">
                <h3>Edukasi Bisnis</h3>
                <img src="assets/img/BrandNew/3784896.jpg" class="img-fluid rounded-4 mb-4" alt="">
                <p style="text-align: justify;">
                  Portalbee memberikan layanan Edukasi kepada pemuda Indonesia untuk merintis dan menjalankan usaha di era digital. Selain itu Portalbee Memberikan wadah komunitas kepada Pemuda Indonesia yang sudah menggunakan layanan edukasi untuk bisa berkolaborasi.
                </p>

                <div class="position-relative mt-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- FAQ Section -->
    <section id="FAQ" class="FAQ" style="padding-top: 10px ;">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>FAQ</h2></div>
      <div class="accordion">
        <div class="accordion-item" id="pertanyaan1">
          <a class="accordion-link" href="#pertanyaan1">Apa saja benefit yang didapatkan jika bergabung portalbee?
          <i class="icon ion-md-chevron-down-outline"></i>
          </a>
            <div class="jawaban">
              <p>
              <i class="bi bi-check-circle-fill"></i> Anda dapat mencantumkan link toko secara gratis
              <i class="bi bi-check-circle-fill"></i> Pengunjung lebih mudah mencari toko anda
              <i class="bi bi-check-circle-fill"></i> Dapat mempromosikan hanya dengan menyebar link toko diportalbee
              <i class="bi bi-check-circle-fill"></i> Dukungan komunitas
              <i class="bi bi-check-circle-fill"></i> Dapat mengakses edukasi seputar UMKM secara gratis 
              </p>
            </div>
        </div>
        <div class="accordion-item" id="pertanyaan2">
          <a class="accordion-link" href="#pertanyaan2">Apakah layanan link manajemen itu berbayar?
          <i class="icon ion-md-chevron-down-outline"></i>
          </a>
            <div class="jawaban">
              <p>
              Layanan link manajemen dapat sobat akses secara gratis dengan memenuhi syarat & ketentuan yang berlaku
              </p>
            </div>
        </div>
        <div class="accordion-item" id="pertanyaan3">
          <a class="accordion-link" href="#pertanyaan3">Apakah website Portalbee dapat di akses dari smartphone?
          <i class="icon ion-md-chevron-down-outline"></i>
          </a>
            <div class="jawaban">
              <p>
              Website Portalbee dapat di akses dengan seluruh perangkat yang sobat punya kapanpun dan dimanapun sobat inginkan 
              </p>
            </div>
        </div>
        <div class="accordion-item" id="pertanyaan4">
          <a class="accordion-link" href="#pertanyaan4">Bagaimana cara memulihkan akun yang lupa password?
          <i class="icon ion-md-chevron-down-outline"></i>
          </a>
            <div class="jawaban">
              <p>
              Sobat masuk ke halaman login dan klik ”Forgot Your Password”, kemudian isi alamat email yang sobat daftarkan
              </p>
            </div>
        </div>
      </div>
    </div>
    </section>


    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Portfolio</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-product">Product</li>
              <li data-filter=".filter-branding">Branding</li>
              <li data-filter=".filter-books">Books</li>
            </ul> End Portfolio Filters 
          </div>

          <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">App 1</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-1.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Product 1</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/branding-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-1.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Branding 1</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/books-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-1.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Books 1</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/app-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-2.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">App 2</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-2.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Product 2</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/branding-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-2.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Branding 2</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/books-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-2.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Books 2</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/app-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">App 3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Product 3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/branding-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Branding 3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/books-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Books 3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>-- End Portfolio Item --

          </div>-- End Portfolio Container --

        </div>

      </div>
    </section>-- End Portfolio Section --> 

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Contact us for help to solve your business problems</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>hello@portalbee.id</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Instagram:</h4>
                  <p>@portalbee.id</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Youtube: </h4>
                  <p>Portalbee Indonesia</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Portalbee</span>
          </a>
          <p>Temukan materi pembelajaran untuk bisnis anda disini dengan praktik dari para ahlinya!!!</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Vidio Eduakasi</a></li>
            <li><a href="#">Komunitas Chat</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> hello@portalbee.id<br>
          </p>
        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Portalbee</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>