<!DOCTYPE html>
<html lang="en">
<head>
    
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css", href="style_signup.css">
    <link rel="stylesheet" type="text", href="engine_signup.js">
    <script src="https://kit.fontawesome.com/f5f83bef73.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://www.portalbee.id/frontoffice/assets/img/icon.svg">
    <title>Portalbee - Login</title>

</head>
<body>
    <h2>Welcome to Portalbee</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign Up</h1>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<input type="re-password" placeholder="Re-type Password" />
		
			<button class="tomboldaftar">Sign Up</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<img src="https://www.portalbee.id/frontoffice/assets/img/icon.svg">
				<h1>Portalbee!</h1>
				<a href="login.html"><button class="ghost" id="signUp">Sign In</button></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>